body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.hero {
background: url('pngtree-medical-flat-simple-green-poster-background-image_161688.jpg') no-repeat center center/cover;
color: white;
text-align: center;
padding: 100px 20px;
display: flex;
align-items: center;
justify-content: center;
    
background-size: cover;
}
.hero .content {
    max-width: 600px;
    margin: 0 auto;
}
.hero .content h1 {
font-size: 2.5rem;
margin-bottom: 20px;
}
.hero .content p {
font-size: 1.2rem;
}
main {
padding: 20px;
}
#healthcare {
padding: 50px 20px;
background-color: #f9f9f9;
text-align: center;
}
#healthcare h2 {
font-size: 2rem;
margin-bottom: 20px;
}
#healthcare p {
font-size: 1rem;
margin-bottom: 40px;
}
.healthcare-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}
.healthcare-box {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 250px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.healthcare-box i {
font-size: 2rem;
margin-bottom: 10px;
color: #007BFF;
}
.healthcare-box h3 {
font-size: 1.2rem;
margin-bottom: 10px;
}
.healthcare-box p {
font-size: 0.9rem;
color: #555;
margin-bottom: 20px;
}
.read-more {
display: inline-block;
padding: 5px 10px;
font-size: 0.9rem;
color: #fff;
background-color: #007BFF;
border: none;
border-radius: 4px;
text-decoration: none;
cursor: pointer;
margin: 0 auto; 
}
.read-more:hover {
background-color: #0056b3;
}
@media (max-width: 768px) {
.hero {
        padding: 50px 20px;
        height: auto;
        background-position: center;
        


       
    }
    .hero .content h1 {
        font-size: 2rem;
    }
    .hero .content p {
        font-size: 1rem;
    }
    
    .healthcare-container {
        flex-direction: column;
        align-items: center;
    }
    .healthcare-box {
        width: 90%;
    }
    

}

@media (max-width: 480px) {
    .hero {
padding: 50px 20px;
height: auto;
}
    .hero .content h1 {
        font-size: 1.5rem;
    }
    .hero .content p {
        font-size: 0.9rem;
    }
    .healthcare-box h3 {
        font-size: 1rem;
    }
    .healthcare-box p {
        font-size: 0.8rem;
    }
    .read-more {
        font-size: 0.8rem;
        padding: 5px 8px;
    }
}
@media (max-width: 524px) {
.hero {
padding: 30px 10px;
height: auto;
}
.hero .content h1 {
font-size: 1.2rem;
}
.hero .content p {
font-size: 0.8rem;
}
}
@media (max-width: 369px) {
.hero {
padding: 20px 10px;
height: auto;
}
.hero .content h1 {
font-size: 1rem;
}
.hero .content p {
font-size: 0.7rem;
}
}   